# Backend
PORT=8080

# DB
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db
DB_PORT=5432

DB_URL=postgres://postgres:postgres@localhost:5432/db?sslmode=disable

# Goose
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/db
GOOSE_MIGRATION_DIR=./database/migrations
GOOSE_TABLE=public.goose_migrations